* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: darkblue;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 18px;
  }

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  background-color: darkred;
  color: black;
  border: 4px solid black;
  text-align: center;
}

.title {
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  color: white;
  text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.image {
  display: block;
  margin: auto;
  width: 90%;
  border: 4px solid black;
  border-radius: 10%;
}

.tribute-info {
  width: auto;
  max-width: 800px;
  background: #fffaaa;
  border: 2px solid black;
  margin: 2rem;
  padding: 1rem;
  text-align: left;
}

#quotes {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100% !important;
  padding: 0px 20px;
}

.quote {
  width: auto;
  max-width: 500px;
  background: white;
  border: 4px solid black;
  border-radius: 50%;
  padding: 3rem;
  margin: 1.5rem;
}
ul.stan-list-q {
  width: 100% !important;
   background: #FFF;
}
ul.stan-list-q li {

    list-style: none;
}

#end-quote {
  display: flex;
  justify-content: center;
  width: auto;
}

.footer {
  display: flex wrap;
  justify-content: center;
  width: auto;
  max-width: 500px;
  background: #fffaaa;
  border: 2px solid black;
  margin: 40px 40px;
  padding: 10px 20px;
}

/* desktops or laptops */
@media only screen and (min-width: 768px) {
  .main {
    margin: 2rem 2rem;
  }
}
