* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: darkblue;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
  }
  
  #main {
    margin: 20px 40px;
    background-color: darkred;
    color: black;
    border: 4px solid black;
    text-align: center;
  }
  
  #title {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rock Salt', cursive;
    font-size: 2em;
    color: white;
    text-shadow:
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          2px 2px 0 #000;
  }
  
  #image {
    display: block;
    margin: auto;
    border: 4px solid black;
    border-radius: 10%;
  }

  narrator {
    display: block;
    background: #fffaaa;
    border: 2px solid black;
    margin: 40px 40px;
    padding: 20px 40px;
    text-align: left;
    width: auto;
  }
  
  /*
  .quotes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  */

  .quote {
    width: auto;
    background: white;
    border: 4px solid black;
    border-radius: 50%;
    padding: 80px;
    margin: 20px 40px 
  }

  #end-quote {
    display: flex;
    justify-content: center;
    width: auto;
  }

  .footer {
    display: flex wrap;
    justify-content: center;
    width: auto;
    background: #fffaaa;
    border: 2px solid black;
    margin: 40px 40px;
    padding: 10px 20px;
  }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
